@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700.800&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
img {
  max-width: 100%;
  width: 100%;
}
section {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: #222;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}
section::before,
.group::before,
.contact::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d25ff;
  -webkit-clip-path: polygon(54% 0, 100% 0, 100% 100%, 84% 100%);
  clip-path: polygon(54% 0, 100% 0, 100% 100%, 84% 100%);
  -webkit-animation: fade-in 0.5s ease-in forwards;
  animation: fade-in 0.5s ease-in forwards;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  opacity: 0;
}
section .content {
  position: relative;
  padding: 100px 50px 100px 150px;
  box-sizing: border-box;
  -webkit-animation: left-in 0.5s ease-in forwards;
  animation: left-in 0.5s ease-in forwards;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  opacity: 0;
}
section .content h1 {
  color: #fff;
  font-size: 3em;
  font-weight: 800;
  text-transform: uppercase;
}
h1 span {
  font-size: 76px;
  color: #4d25ff;
}
section .content p {
  color: #fff;
  font-size: 1.2em;
}
section .content a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  margin-top: 20px;
  background: #4d25ff;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.95em;
  font-weight: 700;
  letter-spacing: 2px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 3px;
}
section .content a:hover {
  background: #fff;
  color: #4d25ff;
  font-weight: 800;
}
section .imgBx {
  position: relative;
  padding-right: 100px;
}
section .imgBx img {
  max-width: 500px;
  -webkit-animation: fade-in 0.5s ease-in forwards;
  animation: fade-in 0.5s ease-in forwards;
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  opacity: 0;
}
.sci {
  position: absolute;
  bottom: 75px;
  left: 150px;
  display: -webkit-box;
  display: flex;
  -webkit-animation: left-in 0.5s ease-in forwards;
  animation: left-in 0.5s ease-in forwards;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  opacity: 0;
}
.sci p {
  list-style: none;
}
.sci p a {
  text-decoration: none;
  color: #999;
  margin-right: 30px;
  font-size: 0.9em;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding: 0.5rem;
  border-radius: 3px;
}
.sci p a:hover {
  color: #fff;
  box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.05),
    3px 3px 3px rgba(253, 253, 253, 0.2);
}
.nav {
  position: absolute;
  top: 75px;
  left: 150px;
  display: -webkit-box;
  display: flex;
  border-left: 5px solid #4d25ff;
  padding-left: 20px;
  -webkit-animation: left-in 0.5s ease-in forwards;
  animation: left-in 0.5s ease-in forwards;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  opacity: 0;
}
.nav li {
  list-style: none;
}
.nav li a {
  text-decoration: none;
  color: #999;
  margin-right: 30px;
  font-size: 0.9em;
  text-transform: uppercase;
  font-weight: 700;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  box-shadow: 7px 5px 10px #2b2d2f, -7px -5px 10px #3b3d3f;
  padding: 10px 20px;
  border-radius: 0.2rem;
}
.active a {
  border-bottom: 3px solid #4d25ff;
}
.nav li a:hover,
.nav-link a:focus {
  color: #4d25ff;
  box-shadow: inset 7px 5px 10px #2b2d2f, inset -7px -5px 10px #3b3d3f;
}
section .about {
  position: relative;
  width: 100%;
  min-height: 110vh;
  background: linear-gradient(326deg, #323133 0%, rgba(14, 11, 13, 0.5) 74%),
    url("../img/1.jpg") center/cover no-repeat fixed;
}
section .about::before,
.team::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #4d25ff;
  -webkit-clip-path: polygon(0 0, 54% 0, 24% 100%, 0 100%);
  clip-path: polygon(0 0, 54% 0, 24% 100%, 0 100%);
  -webkit-animation: fade-in 0.5s ease-in forwards;
  animation: fade-in 0.5s ease-in forwards;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  opacity: 0;
}
.team {
  background: #222;
}
/*Start gallery*/
.gallery {
  position: relative;
}
.gallery-item {
  display: grid;
  grid-auto-flow: column;
  place-content: center;
  margin-bottom: 5rem;
}
/* .gallery-item {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  margin-bottom: 5rem;
} */
.gallery-img {
  -webkit-box-flex: 1;
  flex: 1;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  width: 90%;
  overflow: hidden;
  margin: auto;
}
.gallery-img img {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  width: 100%;
  height: auto;
  /* margin-left: 3rem; */
}
.gallery-img img:hover {
  -webkit-transform: rotate(4deg) scale(1.2);
  transform: rotate(4deg) scale(1.2);
  opacity: 0.5;
}
.gallery-img .no {
  display: none;
}
.gallery-description {
  -webkit-box-flex: 1;
  flex: 1;
}
.gallery-description h2 {
  font-size: 3rem;
  margin: 1rem 0;
  font-weight: 300;
}
.gallery-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}
.gallery-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3883ff;
  border: 3px solid #3883ff;
  padding: 1rem 2.5rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  text-shadow: 0.05rem 0.05rem 0.05rem rgba(2, 2, 2, 0.3);
  position: relative;
}
.gallery-description .cta::before,
.gallery-description .cta::after {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  border: #3883ff;
  border-style: solid;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.gallery-description .cta::before {
  top: -1.5rem;
  left: -1.5rem;
  border-width: 3px 0 0 3px;
}
.gallery-description .cta::after {
  bottom: -1.5rem;
  right: -1.5rem;
  border-width: 0 3px 3px 0;
}
.gallery-description .cta:hover::before,
.gallery-description .cta:hover::after {
  width: calc(100% + 3rem);
  height: calc(100% + 3rem);
  border-color: #fff;
}
.gallery-description .cta:hover {
  color: #2f67cd;
  background: rgba(251, 251, 251, 0.671);
  border-color: #fff;
}
/* End of gallery */
/* section .team {
  position: relative;
  width: 100%;
  min-height: 100vh;
} */
section .about h2,
.group h2,
.group ul,
.team h2,
.contact h2,
p {
  width: 50%;
  position: relative;
  color: #fff;
}
section .about h2,
.group h2,
.team h2,
.contact h2 {
  margin-top: 3rem;
  text-align: center;
  padding: 2rem;
  text-transform: uppercase;
}
section .about p,
.team p,
.group ul,
.contact p {
  font-size: 18px;
  line-height: 2rem;
  margin-top: 2rem;
  padding: 2rem 5rem;
}
.contact .fa-basketball-ball {
  font-size: 8rem;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.4;
}
section .group {
  position: relative;
  width: 100%;
  min-height: 110vh;
  background: linear-gradient(326deg, #323133 0%, rgba(14, 11, 13, 0.5) 74%),
    url("../img/work/basketball-1492286-1920.jpg") center/cover no-repeat fixed;
}
section .group ul {
  /* column-count: 2;
  column-gap: 5rem; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 7rem;
  width: 89%;
  margin: 0 auto;
}
section .group ul li {
  line-height: 4rem;
  list-style: none;
  font-size: 22px;
  position: relative;
}
.fa-user {
  font-size: 2rem;
}
.zaw span {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  font-size: 1.7rem;
  top: 0;
  left: -5rem;
  width: 55px;
  height: 55px;
  position: absolute;
  background: #3883ff;
  border-radius: 50%;
  border: 2px solid #fff;
}
/* section .team {
  position: relative;
} */
/* .gal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: green;
} */
/* section .team img {
  width: 100%;
  margin-right: 3rem;
} */
section .contact {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(326deg, #323133 0%, rgba(14, 11, 13, 0.5) 74%),
    url("../img/work/galatasaray-odeabank-2940760-1920.jpg") center/cover
      no-repeat fixed;
}
footer {
  min-height: auto;
}
p.stop {
  font-weight: 900;
  display: block;
  text-align: center;
  padding: 1rem 0;
  margin: 0 auto;
  background: #222;
  width: 100%;
}
.stop span {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.contact a {
  color: #fff;
  text-decoration: none;
  padding: 1rem;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 10%;
}
.contact a:hover {
  color: #cccad6f3;
  box-shadow: -2px -2px 3px rgba(255, 255, 255, 0.05),
    3px 3px 3px rgba(0, 0, 0, 0.2);
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes left-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@keyframes left-in {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
@media (max-width: 991px) {
  body {
    position: relative;
  }
  .menuicon {
    position: fixed;
    top: 40px;
    right: 40px;
    width: 30px;
    height: 30px;
    background: url("../img/menu-1.svg") no-repeat;
    -webkit-filter: invert(1);
    filter: invert(1);
    background-size: 30px;
    cursor: pointer;
    z-index: 1000;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  .menuicon.actives {
    background: url("../img/close.svg") no-repeat;
    -webkit-filter: invert(1);
    filter: invert(1);
    background-size: 25px;
    cursor: pointer;
    z-index: 999;
  }
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.95);
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    z-index: 11;
    border: none;
    padding: 50px;
    -webkit-transition: all 0.7s;
    transition: all 0.7s;
  }
  .nav.actives {
    left: 0;
  }
  .nav li {
    margin: 5px 0;
  }
  section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    justify-content: center;
  }
  section::before {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 10%, 0 26%);
    clip-path: polygon(0 0, 100% 0, 100% 10%, 0 26%);
  }
  section .content {
    padding: 50px;
    margin-bottom: 30px;
  }
  section .content h1 {
    font-size: 1.5em;
  }
  h1 span {
    font-size: 56px;
  }
  section .content p {
    font-size: 1em;
  }
  section .content a {
    font-size: 0.8em;
    padding: 10px;
  }
  section .about p,
  .team p,
  .contact p {
    width: 100%;
    display: -webkit-box;
    display: flex;
    padding: 1rem;
    -webkit-box-pack: center;
    justify-content: center;
  }
  .group ul {
    grid-template-columns: 1fr !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-left: 8rem !important;
    margin-bottom: 3rem !important;
    width: 100%;
    padding: 0;
  }
  .group ul li {
    font-size: 18px !important;
  }
  .fa-user {
    font-size: 1.5rem;
  }
  .zaw span {
    font-size: 1.3rem;
    width: 45px;
    height: 45px;
    top: 0.7rem;
  }
  .gallery-item {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 0;
  }
  .gallery-img {
    overflow: hidden;
    margin: auto;
    margin-top: 2rem;
    position: relative;
  }
  .gallery-img img {
    width: 100%;
    height: auto;
    -webkit-transition: all 0.4s;
    transition: all 0.4s;
  }
  /* section .gal img {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
  } */
  .gallery-img img:hover {
    -webkit-transform: rotate(2deg) scale(1.1);
    transform: rotate(2deg) scale(1.1);
    overflow: hidden;
  }
  section .imgBx {
    max-width: 100%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding-right: 0;
    margin-top: 30px;
  }
  section .imgBx img {
    max-width: 300px;
  }
  .sci {
    left: 50px;
    bottom: 30px;
  }
  .contact .fa-basketball-ball {
    font-size: 5rem;
  }
}
/* sroll button */
#back-to-top-btn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 26px;
  width: 50px;
  height: 50px;
  background: transparent;
  color: #fff;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 50%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  z-index: 1000;
}
#back-to-top-btn:hover,
#back-to-top-btn:focus {
  background-color: #fff;
  color: #4d25ff;
}
@media (max-width: 992px) {
  #back-to-top-btn {
    font-size: 22px;
    width: 40px;
    height: 40px;
    bottom: 15px;
    right: 15px;
  }
}
@media (max-width: 768px) {
  section .content {
    padding: 0 3rem;
  }
  #back-to-top-btn {
    font-size: 18px;
    width: 32px;
    height: 32px;
    bottom: 6px;
    right: 6px;
  }
  .menuicon {
    top: 20px;
    right: 20px;
  }
  .group ul {
    margin-left: 6.5rem !important;
  }
}
/* Animations */
.btnEntrance {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: btnEntrance;
  animation-name: btnEntrance;
}
/* zoomIn */
/* @keyframes btnEntrance { 
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 1;
  }    
} */

/* fadeInUp */
@-webkit-keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes btnEntrance {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.btnExit {
  -webkit-animation-duration: 0.25s;
  animation-duration: 0.25s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: btnExit;
  animation-name: btnExit;
}
/* zoomOut */
/* @keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
} */

/* fadeOutDown */
@-webkit-keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
@keyframes btnExit {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}
